.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.shopingCart {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 385px;
  top: 0px;
  right: 0;
  height: 100%;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
}

.closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  background-image: url('../../assets/image/svg/btn-cart-close.svg');
  border: none;
  border-radius: 9px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-image: url('../../assets/image/svg/btn-cart-close-hover.svg');
    transform: translateY(-2px);
    box-shadow: 0 2px 3px 0 #f3f3f3;
  }
}
