@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2'),
    url('./assets/fonts/Inter-Regular.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Medium.woff2'),
    url('./assets/fonts/Inter-Medium.woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-SemiBold.woff2'),
    url('./assets/fonts/Inter-SemiBold.woff');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff2'),
    url('./assets/fonts/Inter-Bold.woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: 'Inter';
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e7f6ff;
}

.wrapper {
  max-width: 1080px;
  margin: 85px auto;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.container {
  margin: 0 auto;
  max-width: 960px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.button {
  display: block;
  padding: 18px;
  max-width: 245px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #9dd558;
  border-radius: 18px;
  border: none;

  &:disabled {
    animation: button-loading 1s ease-in-out infinite;
    background-color: #bebebe;
    cursor: default;
  }
}

img {
  display: block;
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
